{%- if block.settings.color != "rgba(0,0,0,0)" -%}
<style>
.product__title--{{block.id}} {
    color: {{block.settings.color}};
}
</style>
{%- endif -%}
<h1 
class="h-reset product__title product__title--{{block.id}} 
font__family--{{-block.settings.fontFamily}} font__size--{{-block.settings.fontSize}} 
 {% if block.settings.noMargin or noMargin %}margin__bottom--reduced{%endif-%}" {{block.shopify_attributes}}>{{ product.title }}
  {% if product.metafields.ns-description2.description2 !='' %}
            <br><span class="desc">{{ product.metafields.ns-description2.description2 }}</span>
            {% endif %} 

</h1>

{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
{% comment %}
{% blockdef %}

{% endblockdef %}
{% endcomment %}