{% section 'banner--account' %}

{% comment %} 
order.attributes
order.billing_address
order.cancelled
order.cancelled_at
order.cancel_reason
order.cancel_reason_label
order.cart_level_discount_applications

order.customer
order.customer_url
order.discount_applications
order.email

order.line_items
order.line_items_subtotal_price
order.location
order.note
order.order_number
order.order_status_url
order.phone
order.shipping_address
order.shipping_methods
order.shipping_price
order.subtotal_price
order.tags
order.tax_lines
order.tax_price
order.total_discounts
order.total_net_amount
order.total_refunded_amount
order.transactions

order.financial_status
order.financial_status_label
order.fulfillment_status
order.fulfillment_status_label
order.name
order.created_at
order.total_price
{% endcomment %}


{% if customer.default_address %}
  {% assign daddy = true %}
{% else %}
  {% assign daddy = false %}
{% endif %}

<div class="account__page row">

    <div class="account__orders col-12 unflex {% if daddy %}col-md-8{% endif %} center">
        {% paginate customer.orders by 25 %}
        {% if customer.orders.size > 0 %}
          <table class="orders__table">
          <thead>
              <th>{{'customer_area.account.order_num' | t}}</th>
              <th>{{'customer_area.account.date' | t}}</th>
              <th>{{'customer_area.account.payment' | t}}</th>
              <th>{{'customer_area.account.full' | t}}</th>
              <th>{{'customer_area.account.total' | t}}</th>
              <th>{{'customer_area.account.tracking' | t}}</th>
          </thead>
          {% for order in customer.orders %}
              <tr>
                  <td data-label="{{'customer_area.account.order_num' | t}}"><a href="{{order.customer_url}}">{{order.name}}</a></td>
                  <td data-label="{{'customer_area.account.date' | t}}">{{order.created_at | date: "%d. %m. %Y."}}</td>
                  <td data-label="{{'customer_area.account.payment' | t}}">{{order.financial_status_label}}</td>
                  <td data-label="{{'customer_area.account.full' | t}}">{{order.fulfillment_status_label}}</td>
                  <td data-label="{{'customer_area.account.total' | t}}">{{order.total_price | money | strip_html }}</td>
                  <td data-label="{{'customer_area.account.tracking' | t}}"><a target="_blank" href="{{order.order_status_url}}">{{'customer_area.account.status' | t}}</a></td>
              </tr> 
              {% endfor %}
          </table>
        {% else %}
            <h2 class="h-reset" style="margin-bottom: 24px;">{{'customer_area.account.no_orders' | t}}</h2>
            {% render 'button', type: 'primary', text: "Check out our offering", url: routes.all_products_collection_url %}
        {% endif %}
        {% render 'pagination', paginate: paginate, type: 'next' %}
    {% endpaginate %}
    </div>
    <div class="col-12 col-md-4 unflex d_addy">
      <h2 class="h-reset p-reset--all">{{'customer_area.account.default_addy' | t}}</h2>
      {% if daddy %}
        <p>{{ customer.default_address.address1 }} {% if customer.default_address.address2 != "" %}({{ customer.default_address.address2 }}){% endif %}</p>
        <p>{{ customer.default_address.zip }}</p>
        <p>{{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
        <p><strong>{{'customer_area.account.phone' | t}}:</strong> {{ customer.default_address.phone }}</p>
      {% else %}
        <p>{{'customer_area.account.no_addy' | t}}</p>
      {% endif %}
      <a style="display: block; margin-top: 24px; text-decoration: none;" href="{{routes.account_addresses_url}}">{{'customer_area.account.edit_addy' | t}}</a>
    </div>
</div>

