<!-- Bold: Memberships (blog) -->
{% include 'bold_mem_helper' with 'blog' %}
<!-- end Bold code -->
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'custom-membership.css' | asset_url | stylesheet_tag }}
<style>
.col-sm-min, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12 {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 10px;
    padding-left: 0px;
}
.page__header .row {
       margin-right: auto;
    margin-left: auto;
}
</style>
{% paginate blog.articles by 10 %}
<div class="inherit middle layout__stretchBg bg__middle s__holder row">
  <div class="row layout__content s__content">
    <div class="col-sm-8">
      <div class="content-blog">
            <ul class="list-blog blog-list">
  {% for article in blog.articles %}
    <div class="col-12 blog__listing--horizontal">
      <a href="{{article.url}}" class="blog__listing--ratio">
        {% unless article.image == nil %}
            {% render 'ratio-image', ratioType: 'vw', dratio: '50', mratio: '100', image: article.image.src, alt: article.image.alt, class: 'blog__listing--image' %}
        {% else %}
            {% assign imagesrc = 'no-blog-image.png' %}
            {% render 'ratio-image-asset', ratioType: 'vw', dratio: '50', mratio: '100', image: imagesrc, class: 'blog__listing--image' %}
        {% endunless %}
      </a>
      <div class="blog__listing--info">
        <div class="blog__listing--tags">
          {% for tag in article.tags %}
            <span class="blog__listing--tag">{{tag | upcase}}</span>
          {% endfor %}
        </div>
        <a href="{{article.url}}" class="blog__listing--title">
          {{ article.title }}
        </a>
        <p class="p-reset blog__listing--excerpt">
          
          {{ article.content | truncatewords: 50  | strip_html }}...
        </p>
        {% render 'button', type: 'primary', url: article.url, text: 'Read more' %}
      </div>
    </div>
  {% endfor %}
   </div>
  </div>            
  {% render 'pagination', paginate: paginate, type: 'links' %}
              
      </div>
    <div class="col-sm-4" id="sidebar">
        {% render 'blog_sidebar' %}
    </div>
  </div>
</div>
  

{% endpaginate %}