{% include 'bold-memberships-salt' %}
{% if section.settings.enable %}

<div class="membership-consultation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <header class="page-header">
                    <div class="img_cart">
                        {% if section.settings.signup_banner != blank %} <img src="{{ section.settings.signup_banner | img_url :"master"}}" alt="{{ page.title | split: '|' | first }}" /> {% else %} {% capture current %}{% cycle 2%}{% endcapture %} {{
                        'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }} {% endif %}
                    </div>

                    {% if settings.enable_multilang %}
                    <h3>{{ page.title }}</h3>
                    {% else %}
                    <h3>{{ page.title | split: '|' | first }}</h3>
                    {% endif %}
                </header>
            </div>
        </div>
    </div> 
</div>

<div class="modal fade popup_content" id="membership_consultation_popup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                {{ section.settings.member_popup_title }}
            </div>
            <div class="modal-body">
                {{ section.settings.member_popup_content }}
            </div> 
        </div>
    </div>
</div> 

<div class="modal fade popup_content" id="membership_book_75" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                {{ section.settings.member_popup_title }}
            </div>
            <div class="modal-body">
                {{ section.settings.member_initial_consultation }}
            </div> 
        </div>
    </div>
</div>

<div class="modal fade popup_content" id="membership_book_45" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                {{ section.settings.member_popup_title }}
            </div>
            <div class="modal-body">
                {{ section.settings.member_follow_up }}
            </div> 
        </div>
    </div>
</div>

<div id="member-ship-table" class="new_mem_consult_outer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 id="member-ship-title">{{ section.settings.member_title }}</h2>
                <p id="member-ship-desc">{{ section.settings.member_content }}</p>
            </div>
        </div>
        <div class="row" id="member_conslt_cont_sec">
            <div class="col-sm-6">
                <div class="memberconsult_left">
                    <img id="member-ship-img" src="{{ section.settings.table-side-image | img_url :"master"}}" alt="{{ page.title | split: '|' | first }}" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="memberconsult_right">
                    <h3 id="member-ship-title-sub">{{ section.settings.member_table_title }}</h3>
                    {{ section.settings.member_table_content }} 
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div id="hum-nutri-consult" class="new_mem_consult_outer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hum-nutri-inner">
                    <h2 id="member-ship-title">{{ section.settings.humanized_member_title }}</h2>
                    <div id="member-ship-desc">{{ section.settings.humanized_member_content }}</div>
                    <a href="javascript:void(0)" id="member-ship-link" class="unlock_click" title="Schedule now" data-toggle="modal" data-target="#membership_consultation_popup"> Schedule Now </a>
                </div> 
            </div>
        </div>
    </div>
</div>

<div id="extra-save-pack" class="new_mem_consult_outer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="extra-save-inner">
                    <h3>{{ section.settings.extra_save_title }}</h3>
                    <div id="member-ship-desc">{{ section.settings.extra_save_content }}</div> 
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="extra-save-box">
                    <div class="save_month">
                        {{ section.settings.extra_month_title1 }}
                    </div> 
                    <div class="save_month_desc">{{ section.settings.extra_month_content1 }}</div> 
                    <a href="javascript:void(0)" id="member-ship-link" class="unlock_click" title="Schedule now" data-toggle="modal" data-target="#three_month_popup"> Schedule Now </a>
                </div> 
            </div>
            <div class="col-sm-4">
                <div class="extra-save-box">
                    <div class="save_month">
                        {{ section.settings.extra_month_title2 }}
                    </div> 
                    <div class="save_month_desc">{{ section.settings.extra_month_content2 }}</div> 
                    <a href="javascript:void(0)" id="member-ship-link" class="unlock_click" title="Schedule now" data-toggle="modal" data-target="#six_month_popup"> Schedule Now </a>
                </div> 
            </div>
            <div class="col-sm-4">
                <div class="extra-save-box">
                    <div class="save_month">
                        {{ section.settings.extra_month_title3 }}
                    </div> 
                    <div class="save_month_desc">{{ section.settings.extra_month_content3 }}</div> 
                    <a href="javascript:void(0)" id="member-ship-link" class="unlock_click" title="Schedule now" data-toggle="modal" data-target="#twelve_month_popup"> Schedule Now </a>
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="modal fade popup_content" id="three_month_popup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button> 
            </div>
            <div class="modal-body">
                {{ section.settings.three_month_content }}
            </div> 
        </div>
    </div>
</div> 

<div class="modal fade popup_content" id="six_month_popup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button> 
            </div>
            <div class="modal-body">
                {{ section.settings.six_month_content }}
            </div> 
        </div>
    </div>
</div> 

<div class="modal fade popup_content" id="twelve_month_popup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button> 
            </div>
            <div class="modal-body">
                {{ section.settings.twelve_month_content }}
            </div> 
        </div>
    </div>
</div> 



<style>
#member-ship-nutritionist {
  margin-top: 5px;
  border-top: 1px solid #ddd;
  padding-top: 50px;
  margin-bottom:40px;
}
.member-ship-nutri-title {
  font-weight: 700;
  margin-top:40px;
}

</style>


<div id="member-ship-nutritionist">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="member-ship-title">Nutritionist Bios</h2>
                <h5 class="member-ship-nutri-title">Dr. Juanita Cox, ND,CNS®,LDN, MsAc, BSc </h5>
                <p>Dr. Juanita Cox was born in Guyana (South America), where she grew and spent time caring for others at a very young age.

                <p>Her fervent passion for caring for others has afforded her to earn a Bachelor of Science degree in biology and chemistry from Bowie State University. While still completing her undergraduate level course work, she was selected to attend an internship/research program at NIH where she earned graduate level credits. </p>

                <p>Dr. Cox later earned her Doctorate degree in Naturopathic Medicine from National University of Health Sciences, where she completed her clinical courses, clinical internship, and rotations. She is also a Certified Nutrition Specialist® Professional and Licensed Dietician-Nutritionist, a health advocate and health educator at heart. </p>

                <p>With an extensive background in conventional medicine (after working so many years in the hospital, trauma, pharmaceutical settings & preparing intravenous solutions), working overseas in places such as Haiti and Guyana, she uses her knowledge and clinical experience to specialize in the areas of chronic diseases type II diabetes, high blood pressure and weight management. </p>

                <p>Founder of The Velma B. Cox Foundation for Type II Diabetes & High Blood Pressure, a non-profit organization that focuses on reducing the incidence of premature death by educating others on health, lifestyle medicine & nutrition. Dr. Cox has been able to combine both her experience in conventional and alternative medicine to health support her patients in optimizing their health. 
                My fervent passion for health & wellness, teaching others how to eat to live, and educating others in optimizing and regaining their most optimal quality of life is phenomenal. There’s nothing else I’d rather do with my time here on this earth, it’s amazing!</p>

                <h5 class="member-ship-nutri-title">Krystal Krisciunas, MS, CNS, LDN </h5>
                <p>Krystal Krisciunas is a board certified nutritionist and licensed dietitian who resides in Baltimore City. She earned a Master of Science in Nutrition and Integrative Health with a concentration in Herbal Medicine from the Maryland University of Integrative Health. Working from pediatric to geriatric care in community health clinics, institutional education settings, and family medical practices she has honed her skills over the last nine years to become a well rounded practitioner. With specialized experience in recommendations for weight loss, emotional eating, sports performance, women’s health, digestion issues, and inflammation reduction related to multiple conditions.
                </p>
                <p>
                Krystal’s approach starts at the humble intersection of western and eastern philosophies. It is centered on the idea that whole foods and herbs are powerful tools to enhance organ function. She believes in developing a plan that allows dietary changes to strengthen the body as naturally intended. With this focus on functional medicine she connects the signs and symptoms of nutrient deficiencies to identify the root cause of chronic health issues. She strives to give clients the confidence to navigate information and be in control of their health goals. Through evidence-based research, advanced nutrition therapy, and behavioral modifications, her interventions support each individual’s long-term success.
                </p>
                <p>In combination with her artistic background and athletic endeavors, she has found this path to not only make a difference in the world but channel a passion for holistic living. As a published contributing writer she deeply cares to prevent cognitive decline related to dementia and other neurological disorders. Her ability to create delicious, yet easy, healthy meals and personal struggles guide her unique perspective to overcome the negativity around diet culture and utilize food as fuel. Krystal has dedicated her career to helping people gain mental clarity, optimal wellness, and overall nourished lives.
                </p>  
                <h5 class="member-ship-nutri-title">Deborah April, MS, CNS, LDN  </h5>
                <p>Deborah's clinical experience comes primarily from working alongside physicians in the chronic pain world. Deborah uses her Master's of Nutrition to tackle the complexities of sleep disorders, mental illness, and chronic pain. With familiarity in Intuitive Eating and Health at Every Size, coming at nutrition with a judgement-free practice is of utmost importance. In her practice, Deborah utilized functional lab testing, whole food and supplemental recommendations.</p>
                <h5 class="member-ship-nutri-title">Jennifer Pitman, MS, CNS  </h5>
                <p>Jennifer is an East-Coast based licensed nutritionist and yoga teacher. Jenn received her Master's Degree in Clinical Nutrition from Maryland University of Integrative Health. She also received a Holistic Health Certificate from the Institute of Integrative Nutrition and a Plant Based Certificate from Cornell University. Jenn received her 500-hour yoga teaching certificate and is a member of the National Yoga Alliance. </p>
                <p>Jenn spent the first half of her career in film and television. The entire time, she found herself feeling like a “square peg trying to fit into a round hole.” Jenn’s passion for food and nutrition came from her mother who was an amazing cook and raised Jenn and her sister on a macrobiotic diet. Jenn’s mother provided home cooked, nourishing foods throughout her childhood which in turn was the impetus for her budding passion with food, nutrition and cooking.</p>
            
            </div>
        </div>              
    </div>
</div>  
<!-- <table width="551" height="32" id="member-ship-table">
    <tbody>
        <tr>
            <td style="width: 541px;"></td>
            <td style="width: 541px;">
                <h3 id="member-ship-title-sub">{{ section.settings.member_table_title }}</h3>
                {{ section.settings.member_table_content }} 
                <a href="javascript:void(0)" id="member-ship-link" class="unlock_click" title="Schedule now" data-toggle="modal" data-target="#membership_consultation_popup"> Schedule Now </a>
            </td>
        </tr>
    </tbody>
</table> -->

{% endif %}


{% schema %}
  {
    "name": " Membership Consultation",
    "class": "index-section-V2signup index-section--flush",
    "settings": [
        
    {
        "type": "checkbox",
        "id": "display_image_cat",
        "label": "Display Image Category?",
        "default": true
    },
    {
        "type": "image_picker",
        "id": "img_cat",
        "label": "Image Category"
    },
    {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable",
        "default": true
    }, 
    {
        "type": "image_picker",
        "id": "signup_banner",
        "label": "Banner" 
    }, 

    {
        "type": "header",
        "content": { 
        "en": "Membership Form Popup"
        }
    },
    {
        "type": "html",
        "id": "member_popup_title",
        "label": "Member Popup Title",
        "default": "Title"
    },
    {
        "type": "html",
        "id": "member_popup_content",
        "label": "Member Popup Content"
           
    },
    {
        "type": "header",
        "content": { 
        "en": "Membership Heading"
        }
    },
    {
        "type": "html",
        "id": "member_title",
        "label": "Membership Title",
        "default": "Let Us Help You Optimize Your Health."
    },
    {
        "type": "html",
        "id": "member_content",
        "label": "Membership Content"
    },
    {
        "type": "image_picker",
        "id": "table-side-image",
        "label": "Side Image"
    },
    {
        "type": "header",
        "content": { 
        "en": "Membership Table Heading"
        }
    },
    {
        "type": "html",
        "id": "member_table_title",
        "label": "Membership Table Title",
        "default": "What Should I Expect?"
    },
    {
        "type": "html",
        "id": "member_table_content",
        "label": "Membership Table Content"
    },
    {
        "type": "html",
        "id": "member_initial_consultation",
        "label": "Membership Initial consultation Code"   
    },
    {
        "type": "html",
        "id": "member_follow_up",
        "label": "Membership Follow-up Code"   
    },
    {
        "type": "text",
        "id": "humanized_member_title",
        "label": "Title"   
    },
    {
        "type": "html",
        "id": "humanized_member_content",
        "label": "Content"   
    },
    {
        "type": "text",
        "id": "extra_save_title",
        "label": "Content"   
    }, 
    {
        "type": "html",
        "id": "extra_save_content",
        "label": "Content"   
    },
    {
        "type": "html",
        "id": "extra_month_title1",
        "label": "Content"   
    },
    {
        "type": "html",
        "id": "extra_month_content1",
        "label": "Content"   
    },
    {
        "type": "html",
        "id": "extra_month_title2",
        "label": "Content"   
    },
    {
        "type": "html",
        "id": "extra_month_content2",
        "label": "Content"   
    },
    {
        "type": "html",
        "id": "extra_month_title3",
        "label": "Content"   
    },
    {
        "type": "html",
        "id": "extra_month_content3",
        "label": "Content"   
    },
    {
        "type": "html",
        "id": "three_month_content",
        "label": "Three Month Popup"   
    },
    {
        "type": "html",
        "id": "six_month_content",
        "label": "Six Month Popup"   
    },
    {
        "type": "html",
        "id": "twelve_month_content",
        "label": "Twelve Month Popup"   
    }


    ],
    "presets": [
    {
        "name": "Signup V2Section",
        "category": "Advanced layout"
    }
    ]
  }
{% endschema %}




{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}