{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'custom-membership.css' | asset_url | stylesheet_tag }}
<style>
.col-sm-min, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12 {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 10px;
    padding-left: 0px;
}
.page__header .row {
       margin-right: auto;
    margin-left: auto;
}
  .third_right_cont ul {display: inline-block;margin: 0;list-style: none;}
.third_right_cont ul li:before { content: "\2022"; color: #00577f; font-weight: bold; display: inline-block; width: 1em; margin-left: -1em; font-size: 20px;}
.third_right_cont { padding-left: 50px; }
.third_right_cont ul.right_ul { padding-left: 30px; }
@media(max-width:991px){
    .third_right_cont ul.right_ul {
    padding-left: 15px;
}
}

  
</style>
<div class="container-bootstrap">
<div class="row wrap">
  	<div class="col-xs-12" style="padding-right:0;padding-left:0;"> 
        {% comment %}
      <header class="page-header">
        {% if settings.enable_multilang %}
        <h2 class="lang1">{{ page.title | split: '|' | first }}</h2>
        <h2 class="lang2">{{ page.title | split: '|' | last }}</h2>
        {% else %}
        <h2>{{ page.title | split: '|' | first }}</h2>
        {% endif %}
      </header>
      {% endcomment %}
      {% comment %}
        Regular page content goes here.
      {% endcomment %}
      <div id="shopify-section-collection-header" class="shopify-section nutrition_pag">
        <header class="page-header pharmacy">
          <div class="img_cart">
            <img src="{{ section.settings.main-image-banner | img_url: 'master'}}" alt="Nutrition banner image">
          </div>
          <h3> {{ page.title}}</h3>
    	</header>
     </div> 
    </div>
</div>
</div>
<div class="container-bootstrap">
<div class="row second-section">       
  <div class="col-xs-12 col-sm-7">
    {{page.content}} 
  </div>
  <div class="col-xs-12 col-sm-5">
    <img src="{{ section.settings.left-image-banner | img_url: 'large'}}">
  </div>    
</div>   
</div>

     <div class="third-section">
      <div class="container-bootstrap">
        <div class="row"> 
          <div class="col-xs-12 col-sm-5">
            <h2>{{ section.settings.text-box1 }}</h2>
            {{ section.settings.left-side-text }} 
          </div>
          <div class="col-xs-12 col-sm-7">
            <div class=" third_right_cont">
            <h2>{{ section.settings.text-box2 }}</h2>
            {{ section.settings.right-text }} 
              </div>
          </div>
        </div>
      </div>
    </div>
  	
  
  <div class="fourth-section">
    <div class="container-bootstrap">
      <div class="row">
      <div class="col-xs-12">
        <div class="get_started_sec">
          <h2>{{ section.settings.text-box3 }}</h2>
          {{ section.settings.justify-text }} 
          {{ section.settings.justify-text-link }}
        </div>
      </div>
      </div>
    </div>
  </div>

 <div class="third-section expert_sec">
   <div class="container-bootstrap">
     <div class="row"> 
       <div class="col-xs-12 col-sm-6">
         <div class="expert_left_img">
         <img src="{{ section.settings.expert_left_img | img_url: 'large'}}">
         </div>
       </div>
       <div class="col-xs-12 col-sm-6">
         <div class="third_right_cont">
           <h2>{{ section.settings.expert_title }}</h2>
           {{ section.settings.expert_right_cont }} 
         </div>
       </div>
     </div>
   </div>
</div>

<div class="third-section interest_sec">
   <div class="container-bootstrap">
     <div class="row">
       <div class="col-xs-12">
       	{{ section.settings.interest_sec_top }}
       </div>
     </div>
     
     <div class="row interest_sec_bottom">
       <div class="col-xs-12">
       	<!-- Practice Better Booking Widget: start -->
<style>.better-inline-booking-widget{position:relative;overflow:hidden}.better-inline-booking-widget iframe{position:absolute;top:0;left:0;width:100%;height:100%}</style>
<div class="better-inline-booking-widget" data-url="https://my.practicebetter.io" data-booking-page="60b4e0312a832606c04f7100" data-hash="608b0c932a8326079004eea6" data-theme="1b788b" style="width:100%;max-width:550px;height:350px;" data-scrollbar-visible="false"></div>
<script type="text/javascript" src="https://my.practicebetter.io/assets/js/booking.widget.js"></script>
<!-- Practice Better Booking Widget: end -->
        
       </div>
     </div>
   </div>
</div> 

{% schema %}
  {
    "name": "Nutrition Counseling Page",
    "settings": [
	{
        "type": "image_picker",
        "id": "main-image-banner",
        "label": "Upload a banner image"
      },
      
      {
        "type": "image_picker",
        "id": "left-image-banner",
        "label": "Upload a new image"
      },
      {
        "type": "textarea",
        "id": "first-side-text",
        "label": "First Left Side Text"
      },
      {
        "id": "text-box1",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
	  {
        "id": "text-box2",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "textarea",
        "id": "right-text",
        "label": "Right Side Text"
      },
      {
        "type": "textarea",
        "id": "left-side-text",
        "label": "Left Side Text"
      },
	  {
        "id": "text-box3",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "textarea",
        "id": "justify-text",
        "label": "Center content Nutrition"
      },
	  {
        "type": "image_picker",
        "id": "expert_left_img",
        "label": "Upload a image"
      },
	  {
        "id": "expert_title",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "textarea",
        "id": "expert_right_cont",
        "label": "Expert Content"
      },
	  {
        "type": "textarea",
        "id": "interest_sec_top",
        "label": "Interest Content"
      },
	  {
        "type": "html",
        "id": "interest_sec_left",
        "label": "Interest Content"
      },
	  {
        "type": "textarea",
        "id": "interest_sec_right",
        "label": "Interest Content"
      },
	   {
        "type": "textarea",
        "id": "interest_sec_bottom",
        "label": "Interest Content"
      }
      
	  
      
]

    
  }
{% endschema %}

    


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
