{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'custom-membership.css' | asset_url | stylesheet_tag }}
  <style>
.col-sm-min, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12 {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 10px;
    padding-left: 0px;
}
.page__header .row {
       margin-right: auto;
    margin-left: auto;
}
</style>
<style>
  .upload-pdf { display:block; width:100%; padding:30px 0px 40px 0; border:solid 1px #ccc; text-align:center; margin-bottom: 30px;}
.upload-pdf h4 { font-size:18px; text-transform: inherit; font-weight: 400; margin-bottom: 30px;}
.upload-pdf a { font-size:16px; color:#00577f; background: url(https://cdn.shopify.com/s/files/1/0319/0960/9603/files/pdf.png?v=1583389752) no-repeat 0px 0px;
    padding: 7px 0 7px 40px; color: #73adc2; text-decoration: none !important; font-weight: 600;}
.upload-pdf a:hover { text-decoration: none !important; color: #00577f;}    
.upload-pdf a.first { margin-right:65px; }
</style>
<div class="container-bootstrap">
<div class="row">
  	<div class="col-12"> 
        
      <div id="shopify-section-collection-header" class="shopify-section">
        <header class="page-header pharmacy">
          <div class="img_cart">
            <img src="{{ section.settings.main-image-banner | img_url: 'master'}}" alt="Pharmacy banner image">
          </div>
          <h3> {{ page.title | split: ' ' | first }}  <span> & {{ page.title | split: ' ' | last }}</span></h3>
    	</header>
     </div>
  </div>
</div>   
</div>
<div class="container-bootstrap">
<div class="row">       
        <div class="col-8 col-sm-8 wrap">
          {{page.content}}
          <div class="upload-pdf">
            <h4>{{ section.settings.text-box-pdf }}</h4>
            <a class="pdf_link first" href="{{ section.settings.pdf_link_one }}" target="_blank" >{{ section.settings.pdflinktext }}</a>
            <a class="pdf_link" href="{{ section.settings.pdf_link_two }}" target="_blank" >{{ section.settings.pdflinktextsecond }}</a>
          </div>
        </div>
        <div class="col-4 col-sm-4">
         <img src="{{ section.settings.left-image-banner | img_url: 'large'}}">
        </div>    
      </div>    
 </div>  
<div id="shopify-section-pharmacy-new-compounding-sec" class="shopify-section">    <div class="third-section">
      <div class="container-bootstrap">
        <div class="row">
          <div class="col-xs-12"><h2>Custom Compounding</h2></div>
          <div class="col-xs-6"><p>Village Green Apothecary has specialized in custom compounding of vitamins, minerals and prescription drugs for over 30 years. While most compounding pharmacies handle drugs, fewer handle nutrition solutions, and only a handful like Village Green have specially trained pharmacists that handle BOTH nutrition and drugs.</p>
<p>Individualized compounds  offer some distinct advantages over mass-produced bottled products, such as:</p>
<ul class="std ul">
<li>Simplifying a nutritional program</li>
<li>Providing accurate, tailor-made dosages</li>
<li>Reducing the number of capsules needed daily</li>
<li>Giving more options for dosage forms such as liquids, creams, etc.</li>
<li>Elimination of non-natural fillers, binders, dyes and other possible allergens</li>
</ul></div>
          <div class="col-xs-6">
            <p>Our compounds are of superior quality, easy to order, and many are covered by insurance plans. A custom compound normally takes 2-4 days to prepare.</p>
<p>Custom compounds are prepared on orders from a nutritionist or physician, like a regular prescription. Some physicians who regularly prescribe individualized compounds include family care doctors, allergists, pediatricians, and dermatologists. <a href="https://myvillagegreen.com/pages/healthy-pets">Veterinarians also use custom compounds for their pet patients.</a> </p><p>An interesting note: prior to mass production of drugs in the 1960s, most prescriptions required compounding by a druggist or apothecary.</p>

          </div>
        </div>
      </div>
    </div>
  	
  
  <div class="fourth-section">
    <div class="container-bootstrap">
      <div class="row">
      <div class="col-xs-12">
        <div class="justfy-content">
          <p><strong>NOTICE:</strong> We no longer accept prescription refills online.<strong>&nbsp;</strong>Please contact our pharmacy,&nbsp; <br>&nbsp;&nbsp;to place your refill order.</p> 
          <p>Pharmacy refills. <a href="mailto:ron@myvillagegreen.com">Email us</a> or call <a href="tel:301-530-0800">301-530-0800</a> (press 5).
&nbsp;<br> &nbsp;Compounding refills: <a href="mailto:ron@myvillagegreen.com">Email us</a> or call <a href="tel:301-530-0800">301-530-0800</a> (press 4).</p>
        </div>
      </div>
      </div>
    </div>
  </div>






</div>

{% schema %}
  {
    "name": "Pharmacy Compunding Page",
    "settings": [
	{
        "type": "image_picker",
        "id": "main-image-banner",
        "label": "Upload a banner image"
      },
      {
        "type": "image_picker",
        "id": "left-image-banner",
        "label": "Upload a new image"
      },
	  {
        "id": "text-box-pdf",
        "type": "text",
        "label": "Heading PDF",
        "default": "Title"
      },
	  {
      "id": "pdf_link_one",
      "type": "url",
      "label": "PDF link"
    },
    {
      "id": "pdflinktext",
      "type": "text",
      "label": "PDFLink text ",
      "default": "Click here"
    },
    {
      "id": "pdf_link_two",
      "type": "url",
      "label": "PDF second link"
    },
    {
      "id": "pdflinktextsecond",
      "type": "text",
      "label": "PDF link text second",
      "default": "Click here"
    },
      {
        "id": "text-box",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "textarea",
        "id": "right-text",
        "label": "Right Side Text"
      },
      {
        "type": "textarea",
        "id": "left-side-text",
        "label": "Left Side Text"
      },
      {
        "type": "textarea",
        "id": "justify-text",
        "label": "Center content Pharmacy"
      },
      {
        "type": "textarea",
        "id": "justify-text-link",
        "label": "Center content links Pharmacy"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}