<!-- Bold: Memberships (product) -->
{% include 'bold_mem_helper' with 'product' %}
<!-- end Bold code -->
<style>
.lab_sidebar {box-shadow: 0px 0px 10px 2px #f0f0f0;padding: 15px;margin-bottom: 50px;padding-top: 0;border: 1px solid #73adc247;}
.lab_sidebar ul { list-style: none; padding: 0;}
.lab_sidebar h2 { color: #006990; font-weight: 600; font-family: Montserrat; font-size: 18px;     line-height: 25px;}
.lab_sidebar ul li a { font-size: 14px; font-weight: 400;  font-family: Montserrat; color: #000000;}
.lab_sidebar h2 a { color: #006990; }
.lab_sidebar ul li { margin-bottom: 7px; }
.lab_sidebar p { font-size: 14px;  line-height: 21px; }
 .lab_sidebar ul li a:hover { color: #999b04; padding-left: 10px; }
  h2.product-vendor {
    font-size: 12px;
}
   .product-info { margin-bottom: 15px;clear:both;width:100%; }
 .product-info span{text-transform: capitalize;;}
 .product-info p { margin-bottom: 0;width:100%; }
 
body.template--product .repeater input[type="text"] { width: 100%; }
body.template--product .repeater input[type=radio] { -webkit-appearance: button; }
body.template--product .repeater p { clear: both; }
body.template--product  .mt-repeater-delete { float: none !important; background: #b80e0e !important; border-color: #b80e0e !important; min-width: 220px !important;}
body.template--product .repeater input[type="text"]{
    padding: 9px 10px;
    line-height: 1.35;
    height: auto;
    border: 1px solid #cbcbcb;
    background: #fff;
}
.line-item-property__field span { color: #ff0000; }
body.template--product .repeater p {
    font-size: 16px;
    line-height: 24px;
    font-family: Montserrat;
    margin-bottom: 15px;
    font-weight: 700;
}
body.template--product .shopify-product-form .btn {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.05em;
    padding: 15px;
    color: #fff;
}
body.template--product .shopify-product-form .mt-repeater-delete {
  
    background: #b80e0e !important;
    border-color: #b80e0e !important;
    min-width: 220px !important;
}
.labtest .product__atc {
    display: none;
}
a.btn.btn-success {}

body.template--product .shopify-product-form .btn{
        background: #00577f;
    color: #fff;
    border-color: #00577f;
}
  button.button[disabled] {
    display: none;
}
body.template--product .repeater .btn {
    font-weight: 600;
    margin: 0 40px 20px 0;
    float: left;
    clear: both;
    line-height: 25px;
    letter-spacing: 0.05em;
    padding: 15px;
    min-width: 270px;
}

/* Qty */
.selector-wrapper { padding-bottom: 10px;}
.selector-wrapper select{ height: 30px; padding: 4px; min-width: 100px;}
.selector-wrapper label { margin-right: 10px; display: block; margin-bottom: 5px;}
.button.inc,.button.dec {  width: 36px; height: 36px; border: 1px solid #cbcbcb; cursor: pointer; background: url(//cdn.shopify.com/s/files/1/0319/0960/9603/t/7/assets/icons_new14.png?v=96766903388324574671638386367 ) no-repeat 9px -926px ; text-indent: -999em; }
.button.dec { border-right:5px }
.button.inc { border-left:5px; background-position: 9px -968px; }
.product-shop .quantity,
.product-shop #quantity { float: left; width: 50px;height:36px }
#quantity {width: 100px; margin-bottom: 22px;}
label[for="productSelect"] {margin-bottom: 10px;}
.quantity select {height: 30px; padding: 4px; }
</style>

<script type="application/ld+json">
{
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{product.title |escape}}",
      {% if product.featured_image != nil %}
      "image": [
        "https:{{product.featured_image | img_url: '960x960'}}",
        "https:{{product.featured_image | img_url: '960x720'}}",
        "https:{{product.featured_image | img_url: '960x540'}}"
       ],
      {% endif %}
      "description": "{{product.description | strip_html | escape}}",
      "brand": {
        "@type": "Brand",
        "name": "{{product.vendor |escape}}"
      },
      "offers" : {
        "@type" : "Offer",
        "availability" : "https://schema.org/{% if product.available %}InStock{%else%}SoldOut{%endif%}",
        "price" : "{{product.price | money_without_currency }}",
        "priceCurrency": "{{shop.currency}}",
        "url" : "{{ shop.url }}{{routes.root_url}}{{product.url}}" 
      }
}
</script>

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = product.featured_image %}
{% assign isAutoZoom = section.settings.autoZoom %}

{% assign imageClass = '' %}
{% if isAutoZoom %}
    {% assign imageClass = 'image-zoom' %}
{% endif %}

<style>
{% if section.settings.galleryPosition == "right" %}
.product__row {
  flex-direction: row-reverse;
}
{% endif %}

.gallery__vertical img {
  width: 100%;
  object-fit: {{section.settings.galleryImageFit}};
}

.gallery__vertical {
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0px -{{section.settings.galleryImageGap | divided_by: 2}}px;
}

.gallery__vertical .col-12 {
  padding: 0px {{section.settings.galleryImageGap | divided_by: 2}}px;
  margin-top: {{section.settings.galleryImageGap}}px;
}

{% if section.settings.productMainImageSize == 'full_ratio' %}
@media only screen and (min-width: 768px) {
    .gallery {
        max-height: none !important;
    }
}
{% endif %}

#colorcode {};
</style>
 {% assign lab_test = false %}
            {% if product.vendor == 'LAB TEST' %}
               {% assign lab_test = true %}
            {% endif %}
<div class="sticky--mobile hide-desktop sticky--closed hide">
<div class="sticky--container">
<div style="text-align: right">
  <span class="sticky__close" onclick="BoosterTheme.ELEMENTS.closeSticky(this)"><i class="uil uil-times"></i></span>
</div>
<h4 class="h-reset" style="text-align: center; margin-bottom: 1rem">{{product.title}}</h4>
  {% render 'block__product-page--price' with product as product %}
  {% render 'block__product-page--swatch' with product as product %}
</div>
<button
data-original-text="{%- if product.price == 0 and settings.freeShipping  %}{{settings.freeShippingText}}{% else %}{{ 'general.buttons.add_to_cart' | t  }}{% endif -%}"
data-buy-button="{{product.id}}"
onclick="BoosterTheme.ELEMENTS.stickyBuy(this, event)"
class="button button--primary button--{{-settings['primaryButtonStyle']}}  button--primary__{{-settings['primaryButtonStyle']}} sticky--atc__button"
>
<span data-button-text>
{%- if product.price == 0 and settings.freeShipping  %}
  {{settings.freeShippingText}}
{% else %}
    {{ 'general.buttons.add_to_cart' | t  }}
{% endif -%}
</span> 
</button>
<button
data-product-id="{{product.id}}"
onclick="BoosterTheme.ELEMENTS.stickyBuy(this, event)"
class="button button--primary button--{{-settings['primaryButtonStyle']}} hide button--primary__{{-settings['primaryButtonStyle']}} sticky--open__button"
>
{%- if product.price == 0 and settings.freeShipping  %}
  {{settings.freeShippingText}}
{% else %}
    {{ 'general.buttons.add_to_cart' | t  }}
{% endif -%}
</button>
</div>


{% if section.settings.view == "marketplace" %}
{% assign size = 'col-md' %}
{% else %}
{% assign size = 'col-md-6' %}
{% endif %}
{%- comment -%}
Product row container
{%- endcomment -%}
<div data-product-holder class=" {% if lab_test %}labtest {%endif%}row product__row {{section.settings.layout}} product__row--{{-section.settings.view}}">
{%- comment -%}
Default gallery with thumbnails (always rendered - used for mobile, featured products, modals in case another gallery type is selected) 
{%- endcomment -%}
<div class="col-12 {{size}} gallery gallery__default {% if section.settings.galleryStyle != 'default'%}hide-desktop{%endif%}">
  {% render 'gallery--default', product: product, section: section, isAutoZoom: isAutoZoom %}
</div>
{%- comment -%}
/Default gallery with thumbnails
{% endcomment %}

{%- comment -%}
Checking for vertical gallery styles (additional gallery styles can be added here)
{%- endcomment -%}
{% case section.settings.galleryStyle %}
  {% when 'verticalSingle' %}
    <div data-gallery-type="vSingle" class="col-12 {{size}} gallery__vertical hide-mobile {% if isAutoZoom %}zoom{% endif %}">
      {% for image in product.images %}
        <div data-variants="{% for var in image.variants %}{{var.id}}|{% endfor %}" class="col-12">
          {% render 'image', size: '900x', src: image.src, alt: image.alt, class: imageClass %}
        </div>
      {% endfor %}
      {% for media in product.media %}
        {% case media.media_type %}
          {% when 'image' %}
            {% continue %}
          {% when 'external_video' %}
          <div class="col-12">
            <div class="external__holder" data-media-holder="{{media.id}}" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100}}%;">
              {% capture med %}{{ media | external_video_tag: class: 'gallery__external lazyload' }}{% endcapture %}
              {{med | replace_first: 'src', 'data-src'}}
            </div>
          </div>
          {% when 'video' %}
          <div class="col-12">
            <div class="video__holder" data-media-holder="{{media.id}}">
              {% capture med %}{{ media | video_tag: class: 'gallery__video lazyload' }}{% endcapture %}
              {{med | replace_first: 'src', 'data-src' | replace_first: 'poster=', 'controls=true poster='}}
            </div>
          </div>
        {% endcase %}
      {% endfor %}
    </div>
  {% when 'verticalDouble' %}
    <div data-gallery-type="vDouble" class="col-12 {{size}} gallery__vertical hide-mobile">
      {% for image in product.images %}
        <div data-variants="{% for var in image.variants %}{{var.id}}|{% endfor %}" {% if forloop.first %}class="col-12 col-md-12 {% if isAutoZoom %}zoom{% endif %}"{%else%}class="col-12 col-md-6 {% if isAutoZoom %}zoom{% endif %}"{%endif%}>
          {% render 'image', size: '900x', src: image.src, alt: image.alt, class: imageClass %}
        </div>
      {% endfor %}
      {% for media in product.media %}
        {% case media.media_type %}
          {% when 'image' %}
            {% continue %}
          {% when 'external_video' %}
          <div class="col-12 col-md-6">
            <div class="external__holder" data-media-holder="{{media.id}}" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100}}%;">
              {% capture med %}{{ media | external_video_tag: class: 'gallery__external lazyload' }}{% endcapture %}
              {{med | replace_first: 'src', 'data-src'}}
            </div>
          </div>
          {% when 'video' %}
          <div class="col-12 col-md-6">
            <div class="video__holder" data-media-holder="{{media.id}}">
              {% capture med %}{{ media | video_tag: class: 'gallery__video lazyload' }}{% endcapture %}
              {{med | replace_first: 'src', 'data-src' | replace_first: 'poster=', 'controls=true poster='}}
            </div>
          </div>
        {% endcase %}
      {% endfor %}
    </div>
{% endcase %}
{%- comment -%}
/Checking for vertical gallery styles
{%- endcomment -%}

{%- comment -%}
Rendering according to the view (default, marketplace)
{%- endcomment -%}
{% if section.settings.view == 'default' %}
  <div class="col-12 {{size}} product__page--info unflex" id="product--page">
  {% comment %} PRODUCT FORM 1 of 2{% endcomment %}
  {% form "product", product %}
    {% assign firstTab = true %}
    {% for block in section.blocks %}
      {% if block.type == '@app' %}
        <div class="col-12 {{section.settings.layout}} unflex no-gap">
          {% render block %}
        </div>

        {% continue %}
      {% endif %}
      {% if block.type == 'productPageTitle' %}
       <h2 class="product-vendor">
            <span> {{product.vendor}} </span>
       </h2>
         
       

      {% endif %}
      {% if block.type == 'productPagePrice' %}

          <div class="product-info">
          
          {% if product.metafields.ns-size.size != 0 %}
          <span class="custom">
            {{ product.metafields.ns-size.size }}
            
          {% assign handle = product.metafields.ns-form.form %} {% case handle %}
          {% when 'AM' %} AMPULES
          {% when 'AS' %} ATHLETIC SOCKS
          {% when 'AW' %} ATHLETIC WEAR
          {% when 'BC' %} BRACE
          {% when 'BD' %} BANDAGE
          {% when 'BG' %} BAG
          {% when 'BK' %} BOOK
          {% when 'BL' %} BALM
          {% when 'BR' %} BAR
          {% when 'BT' %} BOTTLE
          {% when 'CA' %} CALENDAR
          {% when 'CD' %} CANDLE
          {% when 'CL' %} CAPLETS
          {% when 'CN' %} CONDITIONER
          {% when 'CP' %} CAPSULES
          {% when 'CR' %} CREAM
          {% when 'CT' %} COATED TABLETS
          {% when 'DF' %} DENTAL FLOSS
          {% when 'EC' %} ENTERIC COATED
          {% when 'EP' %} EYE PENCIL
          {% when 'FD' %} FOOD
          {% when 'GL' %} GEL
          {% when 'GM' %} GUM
          {% when 'IB' %} INCENSE BURNER
          {% when 'IN' %} INCENSE
          {% when 'IS' %} INCENSE SACHET
          {% when 'JW' %} JEWELRY
          {% when 'KT' %} KIT
          {% when 'LB' %} LIP BALM
          {% when 'LG' %} LIP GLOSS
          {% when 'LL' %} LOOSELEAF
          {% when 'LP' %} LIP PENCIL
          {% when 'LQ' %} LIQUID
          {% when 'LS' %} LIPSTICK
          {% when 'LT' %} LOTION
          {% when 'LZ' %} LOZENGE
          {% when 'MB' %} MAKE-UP BRUSH
          {% when 'MJ' %} MAG JEWELRY
          {% when 'ND' %} NEEDLES
          {% when 'NP' %} NAIL POLISH
          {% when 'OI' %} OINTMENT
          {% when 'OL' %} OIL
          {% when 'PD' %} PAD
          {% when 'PK' %} PACKETS
          {% when 'PL' %} PELLETS
          {% when 'PT' %} PATCH
          {% when 'PW' %} POWDER
          {% when 'RO' %} ROLL-ON
          {% when 'SB' %} SOAPBAR
          {% when 'SC' %} SACHET
          {% when 'SE' %} SERUM
          {% when 'SG' %} SOFTGELS
          {% when 'SH' %} SHAMPOO
          {% when 'SL' %} SALT
          {% when 'SP' %} SPRAY
          {% when 'SR' %} SYRUP
          {% when 'ST' %} STICK
          {% when 'SU' %} SUPPOSITORY
          {% when 'SV' %} SALVE
          {% when 'SY' %} SYRINGE
          {% when 'TB' %} TABLET
          {% when 'TP' %} TOOTH PASTE
          {% when 'TR' %} TOOTH BRUSH
          {% when 'TU' %} TUTORIAL
          {% when 'VC' %} VEG CAPSULES
          {% when 'VL' %} VIAL
          {% when 'VG' %} VEG SOFTGELS
          {% when 'VT' %} VEG TABLETS
          {% when 'WF' %} WAFER
		  {% endcase %}
          </span> <br> <br>
          {% endif %}
          
          {% if section.settings.display_sku %}
          {% assign current_variant = product.selected_or_first_available_variant %}
          {% if current_variant.sku == blank    %}
          {% else %}
          
          
          <label>SKU</label>
         
          <span class="variant-sku">{{ current_variant.sku }}</span>
          {% endif %}
          {% endif %}
          {% if section.settings.display_availability %}
          <p class="product-inventory">
            {% if section.settings.text_availability != blank %}
            {% if settings.enable_multilang %}
            <label class="lang1">{{ section.settings.text_availability | split: '|' | first }}</label>
            <label class="lang2">{{ section.settings.text_availability | split: '|' | last }}</label>
            {% else %}
            <label>{{ section.settings.text_availability | split: '|' | first }}</label>
            {% endif %}
            {% endif %}
            <span>
              {% if product.selected_or_first_available_variant.inventory_management %}
              {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
              {% if first_inventory > 0 %}
              {{first_inventory}} {{ 'products.product.in_stock' | t }}
              {% else %}
              {{ 'products.product.out_of_stock' | t }}
              {% endif %}
              {% else %}
              {{ 'products.product.many_in_stock' | t }}
              {% endif %}
            </span>
          </p>
          {% endif %}
          {%if section.settings.display_product_type %}
          <p class="product-type">
            {% if section.settings.display_product_type != blank %}
            {% if settings.enable_multilang %}
            <label class="lang1">{{ section.settings.text_product_type | split: '|' | first }}</label>
            <label class="lang2">{{ section.settings.text_product_type | split: '|' | last }}</label>
            {% else %}
            <label>{{ section.settings.text_product_type | split: '|' | first }}</label>
            {% endif %}
            {% endif %}  
            <span>{{ product.type }}</span>
          </p>
          {% endif %}
        </div>

      {% endif %}
     
  {% if block.type == 'productPageATC' %}


            {% if lab_test == true %}
            <h3>Patient & Practitioner Information</h3>
            <p>Please fill out the information below to add to cart.</p>
            <div class="repeater">
              	<div data-repeater-list="properties">
                  <div data-repeater-item class="repeater_item">
                      <p class="line-item-property__field">
                        <label for="patient-fname">Patient First Name <span>*</span></label> <br/>
                        <input class="patient_info" type="text" name="properties[FirstName]" onchange="check_filled()" required>
                      </p>
                      <p class="line-item-property__field">
                        <label for="patient-lname">Patient Last Name <span>*</span></label> <br/>
                        <input class="patient_info" type="text" name="properties[LastName]" onchange="check_filled()" required>
                      </p>
                      <p class="line-item-property__field">
                        <label for="patient-dob">Patient Birth Date(MM/DD/YYYY) <span>*</span></label> <br/>
                        <input class="patient_info datepicker" type="text" name="properties[DateOfBirth]" maxlength="10" onchange="check_filled()" required>
                      </p>
                      <p class="line-item-property__field">
                        <label for="patient-gender">Patient Gender <span>*</span></label> <br/>
                        <label><input onchange="check_filled()" type="radio" name="properties[Gender]" value="Male" required> Male </label><br/>
                        <label><input onchange="check_filled()" type="radio" name="properties[Gender]" value="Female" required> Female </label>
                      </p>
                     <p><a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                       <i class="fa fa-close"></i> Delete</a></p>
                    <hr>
             	 </div>
              </div>
              
              <a href="javascript:;" data-repeater-create class="btn btn-success">
                                                <i class="fa fa-plus"></i> Add More</a>
            </div>
            {{ 'bootstrap-datepicker3.min.css' | asset_url | stylesheet_tag }}
            {{ 'bootstrap-datepicker.min.js'  | asset_url | script_tag }}

            <script>
              $(document).ready( function() {
                $(function() {
                  $(".datepicker").datepicker( {
                    dateFormat: 'mm/dd/yyyy',
                    autoclose:true
                  } );

                  
                });
              });

              function check_filled()
              {
                var f = 0;
                $(".patient_info").each(function(){

                      if($(this).val()=="")
                      {
                        f=1;
                      }

                      console.log($(this).val());
                  });

                if($('form input[type="radio"]:checked').length <= 0)
                {
                  f= 1;
                }

                if(f==0)
                {
                  $("#product-add-to-cart").prop("disabled",false);
                }
                else
                {
                  $("#product-add-to-cart").prop("disabled",true);
                }


              }
            </script>

    {% if  product.available %} 
    <label style="width:100%;    display: block;" for="quantity" {% if settings.enable_multilang %}data-translate="cart.label.quantity"{%endif%}>Quantity </label>
            <div class="dec button">-</div>
            <input type="text" id="quantity" name="quantity" value="1">
            <div class="inc button">+</div>
            <script>
              jQuery(".button").on("click", function() {
                var oldValue = jQuery("#quantity").val(),
                    newVal = 1;
                if (jQuery(this).text() == "+") {
                  newVal = parseInt(oldValue) + 1;
                } else if (oldValue > 1) {
                  newVal = parseInt(oldValue) - 1;
                }
                jQuery("#quantity").val(newVal);
                {% if section.settings.display_subtotal and product.available %} 
                updatePricing();
                {% endif %}
              });
            </script>
<input type="submit" name="add" {% if content_for_header contains '.mageworx.com\/groupedproducts\/source.js?' and product.tags contains 'mw_grouped_product' %}disabled="disabled"{% endif %} class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="Add to cart">
            {% else %} 
            <input type="submit" name="add" {% if content_for_header contains '.mageworx.com\/groupedproducts\/source.js?' and product.tags contains 'mw_grouped_product' %}disabled="disabled"{% endif %} class="btn" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{%endif%} id="product-add-to-cart" disabled value="Add to cart">          
            {% endif %} <br><br>
           <div class="product-form_item" style="flex-basis: 100%;" id="ods-bis"></div>
            {% endif %}


  <form method="post" action="/cart/add" id="product_form_8060051620078" accept-charset="UTF-8" class="shopify-product-form" enctype="multipart/form-data"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
    <input name="id" type="hidden" value="44149578629358">
    






<button data-buy-button="" data-original-text="&#10003;" class="button button--addToCart button--primary 

button--filled button--primary__filled
 " type="button" onclick="BoosterTheme.cart.addToCartJSON(event, {items: [{id: 44149578629358, quantity: 1}]});">

<span data-button-text=""></span> 
</button>
  </form>

  {% endif %}
       

    
      {% if block.type == 'productPageTab' %}
        {% if block.settings.showInline and firstTab %}
          {% assign firstTab = false %}
          {% assign tabs = section.blocks | where: 'type', 'productPageTab' %}
          {% if tabs.size > 0 %}
            <div class="col-12 {{section.settings.layout}} unflex tab__container tab__container--product no-gap">
              <div class="tab__holder">
                {% assign first = true %}
                {% for tab in tabs %}
                  {% if tab.settings.showInline %}
                    <span class="tab--product {% if first %}tab--active{% endif -%}" onclick="BoosterTheme.ELEMENTS.toggleTab(this, 'tab--{{-tab.id}}')">{{tab.settings.heading}}</span>
                    {% assign first = false %}
                  {% endif %}
                {% endfor %}
              </div>
              {% assign first = true %}
              {% for tab in tabs %}
                {% if tab.settings.showInline %}
                  {% render 'get-block', block: tab, section: section, first: first, product: product %}
                  {% assign first = false %}
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        {% else %}
          {% continue %}
        {% endif %}
      {% endif %}
      {% render 'get-block', block: block, product: product, form: form %}
    {% else %}
      {% render 'block__product-page--title', product: product, noMargin: true %}
      {% render 'block__product-page--price', product: product %}
      {% render 'block__product-page--swatch' with product as product %}
      {% render 'block__product-page--atc', product: product, form: form %}
    {% endfor %}
  {% endform %}
  {% comment %} END PRODUCT FORM {% endcomment %}
  </div>
{% else %}
  <div class="col-12 {{size}} unflex product__page--info">
    <h1 class="h-reset product__title margin__bottom--reduced">{{ product.title }}</h1>
    {% render 'block__product-page--price' with product as product %}

    <div class="test">
        Test
    </div>
    {% if product.description != blank %}
    <div class="product__description">
      <span class="product__description--title">{{'product_page.page.product_description'|t}}</span>
      <div>{{ product.description }}</div>
    </div>
    {% endif %}
  </div>
  <div class="col-12 {{size}} product__page--info unflex fancy-scroll" id="product--page">
  {% comment %} PRODUCT FORM 2 of 2{% endcomment %}
  {% form "product", product %}
    {% assign firstTab = true %}
    {% for block in section.blocks %}
      {% if block.type == '@app' %}
        <div class="col-12 {{section.settings.layout}} unflex no-gap">
          {% render block %}
        </div>
        {% continue %}
      {% endif %}
       
         
      {% if block.type == 'productPageTab' %}
        {% if block.settings.showInline and firstTab %}
          {% assign firstTab = false %}
          {% assign tabs = section.blocks | where: 'type', 'productPageTab' %}
          {% if tabs.size > 0 %}
            <div class="col-12 {{section.settings.layout}} unflex tab__container tab__container--product no-gap">
              <div class="tab__holder">
                {% assign first = true %}
                {% for tab in tabs %}
                  {% if tab.settings.showInline %}
                    <span class="tab--product {% if first %}tab--active{% endif -%}" onclick="BoosterTheme.ELEMENTS.toggleTab(this, 'tab--{{-tab.id}}')">{{tab.settings.heading}}</span>
                    {% assign first = false %}
                  {% endif %}
                {% endfor %}
              </div>
              {% assign first = true %}
              {% for tab in tabs %}
                {% if tab.settings.showInline %}
                  {% render 'get-block', block: tab, section: section, first: first, product: product %}
                  {% assign first = false %}
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        {% else %}
          {% continue %}
        {% endif %}
      {% endif %}
      {% render 'get-block', block: block, product: product, form: form %}
    {% endfor %}
  {% endform %}
  {% comment %} END PRODUCT FORM {% endcomment %}
  </div>
{% endif %}

{%- comment -%}
/Rendering according to the view
{%- endcomment -%}
</div>
{%- comment -%}
/Product container row
{%- endcomment -%}

{% assign tabs = section.blocks | where: 'type', 'productPageTab' %}
{% if tabs.size > 0 %}
{% for c in product.collections %}
	{% if c.handle == "lab-tests" %}
	{% assign is_lab_tests = true %}
	{% break %}
    {% endif %}
{% endfor %}
<div class="inherit middle layout__stretchBg bg__middle s__holder row">   
 <div class="row s__content layout__content"> 
  <div class="{% if is_lab_tests %} col-12 col-md-8 {% else %}col-12{% endif%} {{section.settings.layout}} unflex tab__container tab__container--product">
    <div class="tab__holder">
      {% for tab in tabs %}
        {% if tab.settings.showInline %}
          {% continue %}
        {% endif %}
        <span class="tab--product {% if forloop.first %}tab--active{% endif -%}" onclick="BoosterTheme.ELEMENTS.toggleTab(this, 'tab--{{-tab.id}}')">{{tab.settings.heading}}</span>
      {% endfor %}
    </div>
    {% for tab in tabs %}
      {% if tab.settings.showInline %}
        {% continue %}
      {% endif %}
      {% render 'get-block', block: tab, section: section, first: forloop.first, product: product %}
    {% endfor %}
  </div>
   {% if is_lab_tests %}
  <div class="{% if is_lab_tests %} col-12 col-md-4 {% else %}col-12{% endif%}" style="align-items: flex-start;">
      <div class="lab_sidebar">
			<div class="product-view-block-right">
				<h2>Types of Lab Tests</h2>
				<ul>
				<li><a href="/collections/lab-tests/products/adrenal-stress-profile"> Adrenal Stress Profile »</a></li>
				<li><a href="/collections/lab-tests/products/anemia-panel"> Anemia Panel »</a></li>
				<li><a href="/products/arthritis-and-bone-health-panel"> Arthritis &amp; Bone Health Panel »</a></li>
				<li><a href="https://myvillagegreen.myshopify.com/collections/lab-tests/products/athletic-performance-panel"> Athletic Performance Panel »</a></li>
				<li><a href="/products/brain-chemistry-panel">Brain Chemistry »</a></li>
				<li><a href="/collections/lab-tests/products/diabetes-panel">Diabetes Panel »</a></li>
				<li><a href="/collections/lab-tests/products/digestive-health-panel">Digestive Health »</a></li>
				<li><a href="/products/food-sensitivity-dbs">Food Sensitivity »</a></li>
				<li><a href="/collections/lab-tests/products/mens-wellness-panel">Men's Wellness Panel »</a></li>
				<li><a href="/products/minerals-and-toxic-metals">Minerals &amp; Toxic Metals »</a></li>
				<li><a href="/collections/lab-tests/products/organic-acids-test">Organic Acids Test »</a></li>
				<li><a href="/products/thyroid-analysis">Thyroid Analysis »</a></li>
				<li><a href="/collections/lab-tests/products/womens-wellness-panel">Women's Wellness Panel »</a></li>
				</ul>
			</div>
			<div class="product-view-block-right">
				<h2><a href="/collections/how-it-works">How It Works</a></h2>
				<p>Order lab tests online and learn valuable information about your health status in a timely and convenient manner. <a href="/collections/how-it-works">»</a></p>
			</div>
			<div class="product-view-block-right">
				<h2><a href="https://www.labcorp.com/wps/portal/findalab" target="_blank">Find a Lab Near You</a></h2>
				<p>Locate a convenient LabCorp Patient Service Center close to you. <a href="https://www.labcorp.com/wps/portal/findalab">»</a></p>
			</div>
			<div class="product-view-block-right">
				<h2><a href="/collections/frequently-asked-questions">FAQs</a></h2>
				<p>Answers to frequently asked questions. <a href="/collections/frequently-asked-questions">»</a></p>
			</div>
			<div class="product-view-block-right">
				<h2><a href="mailto:info@myvillagegreen.com?subject=Lab%20test%20question">Contact Us</a></h2>
				<p>For personalized health service, <a href="mailto:margo@myvillagegreen.com?subject=Lab%20test%20question">email</a> a Village Green nutritionist or call 800-869-9159.</p>
			</div>
		</div> 
    </div> 
{% endif%}
     
</div> 
</div> 
{% endif %}

{% comment %}
marketplace view - failover title (.hide-mobile)
marketplace view - failover price (.hide-mobile)
gallery failover for quickbuy modal/modals
{% endcomment %}

{% if section.settings.productNavigation %}
{% render 'block__product-page--next__prev' %}
{% endif %}

{% if isAutoZoom %}
<style>
.zoom {
    display:inline-block;
    position: relative;
}

.zoom:hover { 
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.zoom:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
</style>

<script>
    $(document).ready(function(){
        $('.image-zoom')
        .css('display', 'block')
        .parent()
        .zoom({
        url: $(this).find('img').attr('data-zoom'),
        magnify: 1
        });
    });
</script>
{% endif %}

{% schema %}
{
  "name": {
    "en": "Product page content"
  },
  "settings": [
    {
        "type" : "header",
        "content": "Instructions"
    },
    {
        "type": "paragraph",
        "content": "Blocks marked with * MUST be included in order for the page to work."
    },
     {
            "type": "header",
            "content": "Help"
        },
        {
        "type": "paragraph",
        "content": "[Click here to follow an interactive Tutorial](https://vimeo.com/458187257)"
        },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "view",
      "label": "Product page type",
      "options": [
        {"value": "marketplace", "label": "Marketplace"},
        {"value": "default", "label": "Default"}
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Page width",
      "options": [
        {"value": "max-width", "label": "Boxed"},
        {"value": "full-width", "label": "Full width"}
      ],
      "default": "max-width"
    },
    {
      "type": "header",
      "content": "Gallery"
    },
    {
      "type": "select",
      "id": "galleryStyle",
      "label": "Gallery Style",
      "options": [
        {"value": "default", "label": "Default"},
        {"value": "verticalDouble", "label": "Vertical list (2 column)"},
        {"value": "verticalSingle", "label": "Vertical list (1 column)"}
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "galleryPosition",
      "label": "Gallery Position",
      "options": [
        {"value": "left", "label": "Left"},
        {"value": "right", "label": "Right"}
      ],
      "default": "left"
    },
    {
        "type" : "header",
        "content": "Instructions"
    },
    {
        "type": "paragraph",
        "content": "1. Zoom functionality will only work with jQuery, please enable the jQuery in Theme settings > Advance HTML & CSS > Enable jQuery."
    },
    {
        "type": "paragraph",
        "content": "2. It is best use with JPEG images."
    },
    {
      "type": "checkbox",
      "label": "Zoom image on hover",
      "id": "autoZoom",
      "info": "If enabled, hovering over an image will zoom it in. Otherwise works on click only.",
      "default": false
    },
    {
      "type": "checkbox",
      "label": "Change image on hover",
      "id": "autoChange",
      "info": "If enabled, hovering a thumbnail will change the image. Otherwise works on click only.",
      "default": false
    },
    {
      "type": "select",
      "label": "Verical gallery image fit",
      "id": "galleryImageFit",
      "options": [
        {"value": "contain", "label": "Preserve ratio"},
        {"value": "cover", "label": "Adjust ratio to fill empty space - crop image"}
      ],
      "default": "cover",
      "info": "In case your product's image doesn't fit the image ratio you've selected below, the image can either: "
    },
    {
      "type": "range",
      "label": "Gap between vertical gallery images",
      "id": "galleryImageGap",
      "unit": "px",
      "min": 0,
      "max": 50,
      "default": 16,
      "info": "Vertical gap between vertical gallery images."
    },
    {
      "type": "paragraph",
      "content": "Preserve ratio - the whole image will be shown in its original dimensions, but may cause empty/white space to appear"
    },
    {
      "type": "paragraph",
      "content": "Adjust the ratio to fill empty space - if the image doesn't fit the ratio, it will be cropped and adjusted to fill the space - no empty/white space"
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "checkbox",
      "id": "productNavigation",
      "label": "Enable previous/next product",
      "info": "Previews next and previous product links. Only works inside collections.",
      "default": true
    },
    {
        "type": "header",
        "content": "Product Image"
    },
      
	{
        "type": "checkbox",
        "id": "display_vendor",
        "label": "Display Vendor?",
        "default": true
      },
	{
        "type": "checkbox",
        "id": "display_sku",
        "label": "Display SKU?",
        "default": true
      },
      {
        "type": "text",
        "id": "text_sku",
        "label": "Text SKU",
        "default": "SKU"
      },
      {
        "type": "checkbox",
        "id": "display_availability",
        "label": "Display Availability?",
        "default": true
      },
      {
        "type": "text",
        "id": "text_availability",
        "label": "Text Availability",
        "default": "Availability"
      },
    
    {
        "type": "select",
        "id": "productMainImageSize",
        "label": "Product Main Image Size",
        "info": "Select Full Ratio if you want the main image to display its full ratio. Default is crop.",
        "options": [
            {
                "value": "full_ratio",
                "label": "Full Ratio"
            },
            {
                "value": "crop",
                "label": "Crop"
            }
        ],
        "default": "crop"
    }
  ],
  "blocks": [
      {
        "type": "@app"
      },
      {
          "type": "productPageCountdown",
          "name": "Offer countdown",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "select",
                "label": "Style",
                "id": "style",
                "default": "compact",
                "options": [
                  {"value": "compact", "label": "Compact"},
                  {"value": "doublecolumn", "label": "Two columns"}
                ]
              },
              {
                "id": "title",
                "label": "Countdown title",
                "type": "text",
                "default": "LIMITED TIME OFFER"
              },
              {
                "id": "text",
                "type": "text",
                "label": "Warning text",
                "default": "The price of this item will revert back to %price% at the end of this countdown.",
                "info": "%price% will get replace by the products original price."
              }
          ]
      },
      {
          "type": "productPageTitle",
          "name": "Product title",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "header",
                "content": "Style"
              },
              {
                "id": "color",
                "type": "color",
                "label": "Custom color",
                "default": "rgba(0,0,0,0)"
              },
              {
                "id": "fontFamily",
                "label": "Font family",
                "type": "select",
                "options": [
                  {"value": "base", "label": "Base"},
                  {"value": "title", "label": "Title"}
                ],
                "default": "base"
              },
              {
                "id": "fontSize",
                "label": "Font size",
                "type": "select",
                "options": [
                  {"value": "small", "label": "Small"},
                  {"value": "base", "label": "Base"},
                  {"value": "medium", "label": "Medium"},
                  {"value": "big", "label": "Big"}
                ],
                "default": "medium"
              }
          ]
      },
      {
          "type": "productPagePrice",
          "name": "Product price",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "header",
                "content": "Style"
              },
              {
                "id": "color",
                "type": "color",
                "label": "Custom color",
                "default": "rgba(0,0,0,0)"
              },
              {
                "id": "newPriceColor",
                "type": "color",
                "label": "Reduced price color",
                "default": "rgba(0,0,0,0)"
              },
              {
                "id": "oldPriceColor",
                "type": "color",
                "label": "Old price color",
                "default": "rgba(0,0,0,0)"
              },
              {
                "id": "fontFamily",
                "label": "Font family",
                "type": "select",
                "options": [
                  {"value": "base", "label": "Base"},
                  {"value": "title", "label": "Title"}
                ],
                "default": "base"
              },
              {
                "id": "fontSize",
                "type": "select",
                "label": "Font size",
                "options": [
                  {"value": "small", "label": "Small"},
                  {"value": "base", "label": "Base"},
                  {"value": "medium", "label": "Medium"},
                  {"value": "big", "label": "Big"}
                ],
                "default": "medium"
              },
              {
                "type": "header",
                "content": "Sale"
              },
              {
                "type": "select",
                "id": "saleType",
                "label": "Show sale badge as",
                "options": [
                  {"value": "percent", "label": "Percent (%)"},
                  {"value": "amount", "label": "Money amount"},
                  {"value": "text", "label": "Only 'SALE' text"},
                  {"value": "none", "label": "Hide the sale badge"}
                ],
                "default": "percent"
              }
          ]
      },
      {
          "type": "productPageSwatch",
          "name": "Product variants (*)",
          "limit": 1,
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              }
          ]
      },
      {
        "type": "productPageBadge",
        "name": "Image/Badges",
        "settings": [
          {
            "type": "checkbox",
            "id": "noMargin",
            "label": "Remove bottom space"
          },
          {
            "type": "image_picker",
            "label": "Badge image",
            "id": "badge"
          }
        ]
      },
      {
          "type": "productPageStock",
          "name": "Product stock",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "select",
                "label": "Max product stock",
                "id": "stockLeft",
                "options": [
                  {"value": "10", "label": "10"},
                  {"value": "100", "label": "100"},
                  {"value": "1000", "label": "1000"},
                  {"value": "inventory", "label": "Use real stock"}
                ],
                "default": "10"
              },
              {
                "type": "range",
                "id": "reduce",
                "label": "Reduce inventory every",
                "min": 0,
                "max": 30,
                "step": 1,
                "unit": "s",
                "info": "If set above 0, the stock amount will be reduced by 1 in the set interval. Doesn't work with real stock inventory. If you want to disable it, set it to 0.",
                "default": 8
              }
          ]
      },
      {
          "type": "productPageLDelivery",
          "name": "Localized Delivery",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "text",
                "label": "Icon",
                "info": "Icon name copied over from Unicons icon library. You can find the list over at [Unicons](https://iconscout.com/unicons/explore/line).",
                "id": "icon"
              },
              {
                "type": "color",
                "id": "iconColor",
                "label": "Icon Color (optional)",
                "default": "rgba(0,0,0,0)"
              },
              {
                "type": "richtext",
                "label": "Delivery text",
                "default": "<p>Products will be delivered between %start% and %end%.</p>",
                "id": "text"
              },
              {
                "type": "text",
                "label": "Start day offset",
                "default": "1",
                "id": "start"
              },
              {
                "type": "text",
                "label": "End day offset",
                "default": "5",
                "id": "end"
              },
              {
                "type": "paragraph",
                "content": "%start% and %end% will be replaced with the offset set above. Customers will see dates instead of numbers. (On 7/10/2022 with the start offset of 2, customers will see 7/12/2022)"
              },
              {
                "type": "color",
                "id": "textColor",
                "label": "Text Color (optional)",
                "default": "rgba(0,0,0,0)"
              }
          ]
      },
      {
          "type": "productPageDelivery",
          "name": "Icon + Text (Delivery)",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "text",
                "label": "Icon",
                "info": "Icon name copied over from Unicons icon library. You can find the list over at [Unicons](https://iconscout.com/unicons/explore/line).",
                "id": "icon"
              },
              {
                "type": "color",
                "id": "iconColor",
                "label": "Icon Color (optional)",
                "default": "rgba(0,0,0,0)"
              },
              {
                "type": "richtext",
                "label": "Delivery text",
                "default": "<p>Products are usually delivered in 3-7 days.</p>",
                "id": "text"
              },
              {
                "type": "color",
                "id": "textColor",
                "label": "Text Color (optional)",
                "default": "rgba(0,0,0,0)"
              }
          ]
      },
      {
          "type": "productPageWatching",
          "name": "Watching product",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "select",
                "label": "Max people",
                "id": "max",
                "options": [
                  {"value": "10", "label": "10"},
                  {"value": "100", "label": "100"},
                  {"value": "1000", "label": "1000"}
                ],
                "default": "100"
              },
              {
                "type": "text",
                "label": "Custom Max People",
                "id": "customMax",
                "info": "This MUST be a number. It is optional. If left blank, the above value will be used."
              },
              {
                "type": "range",
                "id": "interval",
                "label": "Update the number every",
                "min": 0,
                "max": 30,
                "step": 1,
                "unit": "s",
                "default": 8
              },
              {
                "type": "color",
                "id": "iconColor",
                "label": "Icon Color (optional)",
                "default": "rgba(0,0,0,0)"
              },
              {
                "type": "color",
                "id": "textColor",
                "label": "Text Color (optional)",
                "default": "rgba(0,0,0,0)"
              }
          ]
      },
      {
          "type": "productPageInCart",
          "name": "Product in cart",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "select",
                "label": "Max people",
                "id": "max",
                "options": [
                  {"value": "10", "label": "10"},
                  {"value": "100", "label": "100"},
                  {"value": "1000", "label": "1000"}
                ],
                "default": "100"
              },
              {
                "type": "text",
                "label": "Custom Max People",
                "id": "customMax",
                "info": "This MUST be a number. It is optional. If left blank, the above value will be used."
              },
              {
                "type": "range",
                "id": "interval",
                "label": "Update the number every",
                "min": 0,
                "max": 30,
                "step": 1,
                "unit": "s",
                "default": 8
              },
              {
                "type": "color",
                "id": "iconColor",
                "label": "Icon Color (optional)",
                "default": "rgba(0,0,0,0)"
              },
              {
                "type": "color",
                "id": "textColor",
                "label": "Text Color (optional)",
                "default": "rgba(0,0,0,0)"
              }
          ]
      },
      {
          "type": "productPageDescription",
          "name": "Product description",
          "settings": [
            {
              "id": "heading",
              "label": "Description title",
              "default": "Product description",
              "type": "text"
            },
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              }
          ]
      },
      {
          "type": "productPageAccordion",
          "name": "Accordion",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "text",
                "id": "heading",
                "label": "Accordion heading",
                "default": "Description"
              },
              {
                "type": "radio",
                "label": "Accordion content",
                "id": "content",
                "options": [
                  {"value": "description", "label": "Description"},
                  {"value": "reviews", "label": "Reviews"},
                  {"value": "metafield", "label": "Metafield"},
                  {"value":"page", "label": "Page"},
                  {"value": "productPage", "label": "Product specific page"},
                  {"value": "custom", "label": "Custom content"}
                ],
                "default": "description"
              },
              {
                "type": "header",
                "content": "Metafield"
              },
              {
                "type": "text",
                "id": "metafieldNS",
                "label": "Metafield namespace",
                "default": "global"
              },
              {
                "type": "text",
                "id": "metafieldKey",
                "label": "Metafield key"
              },
              {
                "type": "header",
                "content": "Page"
              },
              {
                "type": "page",
                "label": "Page to show",
                "id": "page"
              },
              {
                "type": "header",
                "content": "Custom content"
              },
              {
                "type": "html",
                "id": "customContent",
                "label": "Custom content",
                "default": "<p>Add custom content here!</p>"
              }
          ]
      },
      {
          "type": "productPageTab",
          "name": "Tab",
          "settings": [
              {
                "type": "checkbox",
                "label": "Show this tab inline",
                "info": "Will place this tag on the side of the product, instead of below everything",
                "default": false,
                "id": "showInline"
              },
              {
                "type": "text",
                "id": "heading",
                "label": "Tab heading",
                "default": "Description"
              },
              {
                "type": "radio",
                "label": "Tab content",
                "id": "content",
                "options": [
                  {"value": "description", "label": "Description"},
                  {"value": "reviews", "label": "Reviews"},
                  {"value": "metafield", "label": "Metafield"},
                  {"value": "page", "label": "Page"},
                  {"value": "productPage", "label": "Product specific page"},
                  {"value": "custom", "label": "Custom content"}
                ],
                "default": "description"
              },
              {
                "type": "header",
                "content": "Metafield"
              },
              {
                "type": "text",
                "id": "metafieldNS",
                "label": "Metafield namespace",
                "default": "global"
              },
              {
                "type": "text",
                "id": "metafieldKey",
                "label": "Metafield key"
              },
              {
                "type": "header",
                "content": "Page"
              },
              {
                "type": "page",
                "label": "Page to show",
                "id": "page"
              },
              {
                "type": "header",
                "content": "Custom content"
              },
              {
                "type": "html",
                "id": "customContent",
                "label": "Custom content",
                "default": "<p>Add custom content here!</p>"
              }
          ]
      },
      {
        "type": "productPageReviewStars",
        "name": "Review stars",
        "settings": [
          {
            "type": "checkbox",
            "id": "noMargin",
            "label": "Remove bottom space"
          },
          {
            "type": "paragraph",
            "content": "Make sure to save the settings in order to initialize reviews."
          }
        ]
      },
      {
        "type": "productPageTags",
        "name": "Tags",
        "settings": [
          {
            "type": "checkbox",
            "id": "noMargin",
            "label": "Remove bottom space"
          },
          {
            "type": "select",
            "id": "style",
            "options": [
              {"value": "swatch", "label": "Swatch"},
              {"value": "text", "label": "Text"}
            ],
            "label": "Tag style"
          },
          {
            "type": "textarea",
            "label": "Tags to exclude",
            "id": "exclude",
            "info": "Comma (,) separated list of tags to exclude. bstr-tag-* tags are excluded automatically."
          }
        ]
      },
      {
          "type": "productPageATC",
          "name": "Add to cart (*)",
          "limit": 1,
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              },
              {
                "type": "select",
                "id": "stickyATC",
                "options": [
                  {"value": "disabled", "label": "Don't show sticky ATC"},
                  {"value": "scroll", "label": "Show sticky ATC after scrolling past original"},
                  {"value": "always", "label": "Always show sticky ATC"}
                ],
                "default": "scroll",
                "label": "Sticky ATC (mobile)"
              }
          ]
      },
      {
          "type": "productPageShopPay",
          "name": "Shop Pay Banner",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              }
          ]
      },
      {
          "type": "productPageShare",
          "name": "Social Media Share",
          "settings": [
              {
                "type": "checkbox",
                "id": "noMargin",
                "label": "Remove bottom space"
              }
          ]
      }
    ]
}
{% endschema %}
<script>
  //Shopify.Image.preload({{ product.images | json }}, 'grande');

  {% if section.settings.display_subtotal and product.available %} 
  //update price when changing quantity
  function updatePricing() {
    //try pattern one before pattern 2
    var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
    var unitPriceTextMatch = jQuery('.product .price').text().match(regex);
   
    if (!unitPriceTextMatch) {
      regex = /([0-9]+[.|,][0-9]+)/g;
      unitPriceTextMatch = jQuery('.product .price').text().match(regex);     
    }
   
    if (unitPriceTextMatch) {
      var unitPriceText = unitPriceTextMatch[0];     
      var unitPrice = unitPriceText.replace(/[.|,]/g,'');
      var quantity = parseInt(jQuery('#quantity').val());
      var totalPrice = unitPrice * quantity;

      var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);
      regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;     
      if (!totalPriceText.match(regex)) {
        regex = /([0-9]+[.|,][0-9]+)/g;
      } 
      totalPriceText = totalPriceText.match(regex)[0];

      var regInput = new RegExp(unitPriceText, "g"); 
      var totalPriceHtml = jQuery('.product .price').html().replace(regInput ,totalPriceText);

      jQuery('.product .total-price span').html(totalPriceHtml);     
    }
  }

  jQuery('#quantity').on('change', updatePricing);
  {% endif %}
  
var selectCallback = function(variant, selector) {

  
  
  var addToCart = jQuery('#product-add-to-cart'),
      productPrice = jQuery('.product .price'),
      comparePrice = jQuery('.product .compare-price');  
  
  if (variant) {
    if (variant.available) {
      // We have a valid product variant, so enable the submit button
      addToCart.removeClass('disabled').removeAttr('disabled').val(window.inventory_text.add_to_cart);

    } else {
      // Variant is sold out, disable the submit button
      addToCart.val(window.inventory_text.sold_out).addClass('disabled').attr('disabled', 'disabled');
    }

    // Regardless of stock, update the product price
    productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
	if (variant) {
  	$('.variant-sku').text(variant.sku);
	}
    else {
      $('.variant-sku').empty();
    }	
    // Also update and show the product's compare price if necessary
    if ( variant.compare_at_price > variant.price ) {
      productPrice.addClass("on-sale")
      comparePrice
        .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
        .show();
    } else {
      comparePrice.hide();
      productPrice.removeClass("on-sale");
    }
    {% if settings.use_color_swatch %}
    // BEGIN SWATCHES
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
     // END SWATCHES
     {% endif %}
  
    {% if section.settings.display_subtotal and product.available %}  
     updatePricing();
     {% endif %}
  
    {% if settings.enable_multiple_currencies %}
    Currency.convertAll('{{ shop.currency }}', jQuery('#currencies').val(), 'span.money', 'money_format');
    {% endif %}
          
  } else {
    // The variant doesn't exist. Just a safeguard for errors, but disable the submit button anyway
    addToCart.val(window.inventory_text.unavailable).addClass('disabled').attr('disabled', 'disabled');
  }

  //update variant inventory
  {% if section.settings.display_availability %}
  if (variant.available) {
    if (variant.inventory_management!=null) {
      jQuery(".product-inventory span").text(variant.inventory_quantity + " " + window.inventory_text.in_stock);
    } else {
      jQuery(".product-inventory span").text(window.inventory_text.many_in_stock);
    }
  } else {
    jQuery(".product-inventory span").text(window.inventory_text.out_of_stock);
  }
  {% endif %}
                                           
    /*begin variant image*/
  if (variant && variant.featured_image) {
      var originalImage = jQuery("#product-featured-image");
      var newImage = variant.featured_image;
      var element = originalImage[0];
      Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
        jQuery('#more-view-carousel img').each(function() {
          var grandSize = jQuery(this).attr('src');
          grandSize = grandSize.replace('compact','grande');
          if (grandSize == newImageSizedSrc) {
            jQuery(this).parent().trigger('click');              
            return false;
          }
        });
      });
  }
  /*end of variant image*/
};

jQuery(function($) {
  {% if product.available and product.variants.size > 1 %}
    new Shopify.OptionSelectors('product-selectors', {
      product: {{ product | json }},
      onVariantSelected: selectCallback, 
    enableHistoryState: true
    });   
     
     {% comment %}
     Use color swatch and linked options (copyright by @carolineschnapp)
     {% endcomment %}
     {% if settings.use_color_swatch and product.available and product.options.size > 1 %}
     Shopify.linkOptionSelectors({{ product | json }});
     {% endif %} 
     
     {% if settings.use_color_swatch != true %}
      jQuery('.single-option-selector').selectize();
      jQuery('.selectize-input input').attr("disabled","disabled");
     {% endif %}

   {% endif %}
  
  // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}

  // Hide selectors if we only have 1 variant and its title contains 'Default'.
  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
  {% endif %}

  // Auto-select first available variant on page load. Otherwise the product looks sold out.
  {% assign found_one_in_stock = false %}
  {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}
      {% for option in product.options %}
      $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
      {% endfor %}
    {% endif %}
  {% endfor %}
  
  {% if section.settings.display_product_reviews %}  
    var reviewsTimeout = setInterval(function() {
      if (jQuery(".spr-badge-caption").length>0) {
    jQuery(".spr-badge-caption").on('click', function() {
          jQuery('html,body').animate({
            scrollTop: jQuery(".panel:last").offset().top},
              '400');
          jQuery("#collapse-tab4").collapse('show');
        });
        clearInterval(reviewsTimeout);
      }
    },1000);
    
  {% endif %}
 
});
</script>